* {
    margin: 0;
    padding: 0;
}
/* Login */

.loginMain {
    display: flex;
    flex-direction: row;
}

.loginLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    width: 50%;
    height: 100vh;
    /* margin-top: 1in; */
}

.login {
    width: 350px;
}

.loginText {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.loginForm   {
    display: flex;
    flex-direction: column;
}

.loginCheck {
    display: flex;
    justify-content: space-between  ;
}

.loginTextField  {
    padding: 10px 10px 5px 10px;
    opacity: 0.8;
}

.loginFields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginInput {
    display: flex;
    flex-direction: column;
}

.loginBtn {
    height: 40px;
    background-color: #181818   ;
    color: white;

    border-width: 0;
}

.loginButtons {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginChrome {
    height: 40px;
    background-color: white;
    color: black;

    border: solid 1px #808080;
}

.coolPic {
    height: 100dvh;
    width: 100dvh;
}

/* Register */
.registerText {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.invalidInput_Username {
    color: #e03424;
    display: none;
}

.invalidInput_Email {
    color: #e03424;
    display: none;
}

.invalidInput_Login  {
    color: #e03424;
    display: none;
}

.invalidInput_Password {
    color: #e03424;
    display: none;
}

.invalidInput_Banned {
    color: #e03424;
    display: none;
}

input.invalidInput {
    border: solid 2px #e03424;
    color: #181818;
}

input.invalidInput:focus {
    outline: solid 2px #e03424;
}

.registerNames {
    display: flex;
    gap: 10px;
}

.regField {
    width: 50%;
}

.modalBox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;

    display: none;
}   

.modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: white;
    margin: 10% 38%;

    -webkit-box-shadow: 3px rgba(0,0,0,01);
    box-shadow: 3px rgba(0, 0, 0, 0.1);
}

.modalLogo {
    height: 100px;
    width: 100px;
    color: #87D185;
}

.modalMessage {
    color: #262C57;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.regSuc {
    font-size: 25px;
    font-weight: 600;
}

.welcome {
    font-size: 15px;
}

/* Contact Us */
header {
    display: flex;

    justify-content: space-between;
    padding: 1em 30px 0 1em;
    /* U R D L */
}

.logoTitle, .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.getInTouch {
    display: flex;
    flex-direction: row;
}

.contactUsLeft {
    display: flex;
    flex-direction: column;
    width: 60%;

    padding: 0 3em;
}

.contactUsRight {
    padding-right: 3em;
}

.contactCard {
    padding-right: 20px;
}

.contactExtras {
    display: flex;
    flex-direction: row;
}

.fNameLnameContact {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contactUsMain{
    display: grid;
}

.findUs {
    display: flex;
    justify-self: center;
    align-items: center;
}

.hell {
    height: 400px;
    width: 400px;
}

.locInfo {
    display: flex;
    flex-direction: column;
}

.contactUsLogo {
    font-size: 30px;
}

.dashboardBody {
    overflow: auto;
}

/* sidebar bootstrap */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.flightsTbl {
    /* URDL */
    /* width: min-content; */
    /* margin: 0 10%; */
}

.tblContent {
    width: 200px;
}

.originDestination {
    /* gap: 50px; */
}