body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 60%;
    margin: auto;
    height: 750px;
    border: 1px solid #888;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}
.form-group {
    margin: 20px 0;
}
.form-group label {
    display: block;
    margin-bottom: 10px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #888;
}
.form-group input[type="submit"] {
    background-color: #95C0E3;
    color: white;
    cursor: pointer;
}
#inputdetails{
    width: 60%;
    padding: 30px;

}
#howmuchyoupay{
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #95C0E3, #3C8CCC);
    width: 40%;
    justify-content: start;
    align-items: center;
    padding-top: 150px;
}